/* ==== PALETTE DES COULEURS ==== */


:root {
    --fond-principal:#0F0F0F;
    --font-contenu:#1A1A1A;
    --font-contours:#2E2E2E;
    
    --texte-titre:#ffffff;
    --texte-courant:#d1d1d1;
    --texte-lien:#6f6f6f;
    
    --objet-survol:#6E40C9;
    --objet-permanent:#8B5CF6; 
    --objet-clic:#9B6DED;
}




/* ==== PALETTE DES TEXTES ==== */


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
    --police-titre: Georgia, "Times New Roman", serif;
    --police-texte: "Comic Sans MS", cursive, sans-serif;
    --taille-titre-principal: 2rem;      /* h1 */
    --taille-sous-titre: 1.5rem;         /* h2 */
    --taille-texte: 1rem;                /* p */
    --taille-liens:1rem;                 /* a */
    --gras-titre: 700;
    --gras-texte: 400;
}

@media(max-width:768px){
    :root {
    --taille-titre-principal: 1.25rem;  /* h1 */
    --taille-sous-titre: 1rem;         /* h2 */
    --taille-texte: 0.75rem;              /* p */
    --taille-liens: 0.75rem;                 /* a */
}}


/* style titre */

h1 {
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-titre-principal);
    color: var(--texte-titre);
    margin-bottom: 0.5em;
}

h2 {
    font-family: var(--police-titre);
    font-weight: var(--gras-titre);
    font-size: var(--taille-sous-titre);
    color: var(--texte-titre);
    margin-bottom: 0.5em;
}

/* style texte */
p, span {
    font-family: var(--police-texte);
    font-weight: var(--gras-texte);
    font-size: var(--taille-texte);
    color: var(--texte-courant);
    line-height: 1.6;
}

/* style lien */
a {
    font-style: oblique;
    font-weight: 500;
    text-decoration: underline;
    color: var(--texte-lien);
}


/* == hover == */

a:hover {
    color: var(--objet-survol);
}


/* == active == */

a:active {
    color: var(--objet-clic);
}




/* ==== PALETTE DES BULLE ==== */


.bulle_principal {
    background-color: var(--font-contenu);
    color:var(--font-contours);
    border: solid var(--font-contours);
    padding: 6px;
    margin: 13% 25% 10% 25%;
    text-align: center;
    border-radius: 50px;
}

@media(max-width:768px){
    .bulle_principal {
        padding: 6px;
        margin: 1% 2% 100% 2%;
    }
}

.bulle_lien {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    background-color: var(--font-contenu);
    border: solid var(--font-contours);
    padding: 2px;
    margin: 5% 35% 1% 35%;
    border-radius: 25px;
    transition: 1s;
}

@media(max-width:768px){
    .bulle_lien {
        padding: 2px;
        margin: 1% 25% 1% 25%;
    }
 
    h2 {
        font-size: 0.80rem; 
    }
}

.bulle_lien h2 {
    grid-area: 1 / 1 / 2 / 5;
    margin: auto;
}

.bulle_lien a:nth-child(2) { 
    grid-area: 2 / 1;
    margin: auto;
}

.bulle_lien a:nth-child(3) { 
    grid-area: 2 / 2;
    margin: auto;
}
.bulle_lien a:nth-child(4) { 
    grid-area: 2 / 3;
    margin: auto;
}

.bulle_lien a:nth-child(5) { 
    grid-area: 2 / 4;
    margin: auto;
}


/* == hover == */

.bulle_lien:hover {
    border-radius: 50px;
    margin: 5% 36% 1% 36%;
    transition: 1s;
}

@media(max-width:768px){
    .bulle_lien:hover {
        padding: 2px;
        margin: 1% 30% 1% 30%;
    }
 
    h2 {
        font-size: 0.70rem; 
    }
}




/* ==== PALETTE DES btn ==== */


.btn_base {
    background-color: var(--font-contenu);
    color: var(--objet-permanent);
    border-radius: 100px;
    padding: 20px 30px 20px 30px;
    transition: 0.6s;
}

@media(max-width:768px){
    .btn_base {
        padding: 10px 20px 10px 20px;
    }
}

.btn {
    display: flex;
    justify-content: space-evenly;
}


/* survol */

.btn_base:hover {
    padding: 24px 34px 24px 34px;
    color: var(--objet-survol);
    transition: 0.6s;
}

@media(max-width:768px){
    .btn_base:hover {
        padding: 14px 24px 14px 24px;
        color: var(--objet-clic);
        transition: 0.4s;
    }
}


/* clic */

.btn_base:active {
    padding: 16px 26px 16px 26px;
    color: var(--objet-clic);
    transition: 0.4s;
}

@media(max-width:768px){
    .btn_base:active {
    padding: 6px 16px 6px 16px;
    }
}




/* ==== PALETTE DES LOGO ==== */


.logo {
    width: 48px;
    height: 48px;
    transition: 0.5s;
}

@media(max-width:768px){
    .logo {
        width: 24px;
        height: 24px;
    }
}


/* == hover == */

.logo:hover {
    width: 52px;
    height: 52px;
    opacity: 50%;
    transition: 0.5s;
}

@media(max-width:768px){
    .logo:hover {
        width: 26px;
        height: 26px;
    }
}




/* ==== CSS body ==== */


body {
    background-color: var(--fond-principal);
    text-align: center;
}




/* ==== VISEULLE APLIQUER ==== */


.affichage {
    color: var(--texte-courant);
    border: solid 1px var(--objet-permanent);
    margin: 3% 25% 3% 25%;    
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
}

@media(max-width:768px){
    .affichage {
    font-size: 8px;
    }
}

#temps {
    font-size: 4em;
    font-family: monospace;
    font-weight: bold;
}

.btn_placement {
    text-align: center;
    color: var(--objet-permanent);
    display: flex;
    justify-content: space-evenly;
}